.container {
    background-color: #232323;
    color: #ccccff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    p {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        margin: 0;
    }
}